<section
  class="section w-full min-h-screen bg-gradient-to-br from-green-600 via-green-500 to-green-400 py-12 px-4 sm:px-6 lg:px-8 flex items-center justify-center"
>
  <div class="w-full max-w-md sm:max-w-2xl lg:max-w-4xl mx-auto">
    <div
      class="bg-white/90 backdrop-blur-sm rounded-3xl shadow-xl border border-green-100 overflow-hidden p-8 sm:p-12 w-full"
    >
      <h3
        class="text-3xl sm:text-4xl font-bold text-green-800 mb-8 text-center"
      >
        Benefícios Exclusivos
      </h3>
      <ul class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <li
          class="flex flex-col items-center text-center p-6 bg-green-50 rounded-xl hover:bg-green-100 transition-all duration-300 transform hover:-translate-y-1"
        >
          <div
            class="mb-4 p-3 bg-green-600 rounded-full shadow-lg flex items-center justify-center"
          >
            <fa-icon
              [icon]="faCheckCircle"
              class="text-white text-4xl"
            ></fa-icon>
          </div>
          <span class="text-lg font-semibold text-green-900">
            Reconhecimento pelo seu trabalho
          </span>
          <p class="mt-2 text-green-700">
            Valorização do seu esforço e dedicação
          </p>
        </li>
        <li
          class="flex flex-col items-center text-center p-6 bg-green-50 rounded-xl hover:bg-green-100 transition-all duration-300 transform hover:-translate-y-1"
        >
          <div
            class="mb-4 p-3 bg-green-600 rounded-full shadow-lg flex items-center justify-center"
          >
            <fa-icon
              [icon]="faCheckCircle"
              class="text-white text-4xl"
            ></fa-icon>
          </div>
          <span class="text-lg font-semibold text-green-900">
            Bônus financeiro mensal
          </span>
          <p class="mt-2 text-green-700">
            Recompensa financeira pelo seu desempenho
          </p>
        </li>
        <li
          class="flex flex-col items-center text-center p-6 bg-green-50 rounded-xl hover:bg-green-100 transition-all duration-300 transform hover:-translate-y-1"
        >
          <div
            class="mb-4 p-3 bg-green-600 rounded-full shadow-lg flex items-center justify-center"
          >
            <fa-icon
              [icon]="faCheckCircle"
              class="text-white text-4xl"
            ></fa-icon>
          </div>
          <span class="text-lg font-semibold text-green-900">
            Crescimento na Carreira
          </span>
          <p class="mt-2 text-green-700">
            Visibilidade para futuras promoções e oportunidades
          </p>
        </li>
      </ul>
      <app-navigation-buttons></app-navigation-buttons>
    </div>
  </div>
</section>
