<div
  class="flex flex-col items-center min-h-screen bg-gray-50 py-8 px-4 sm:px-6"
>
  <div class="w-full max-w-2xl">
    <h2 class="text-lg font-bold text-gray-800 mb-4 text-center">
      Cálculo do Bônus
    </h2>

    <app-vehicle-selector
      [(selectedVehicle)]="selectedVehicle"
    ></app-vehicle-selector>

    <h3 class="text-base font-semibold text-gray-800 mb-2">Exemplo Prático</h3>
    <div class="bg-gray-50 p-3 rounded-lg border border-gray-200">
      <ng-container *ngIf="selectedVehicle === 'motorcycle'; else carExample">
        <div class="flex justify-between border-b border-gray-200 pb-2 text-sm">
          <span>5 pontos (meta):</span>
          <span class="font-bold">R$ 40</span>
        </div>
        <div class="flex justify-between border-b border-gray-200 py-2 text-sm">
          <span>+ 4 pontos extras:</span>
          <span class="font-bold">R$ 60</span>
        </div>
        <div
          class="flex justify-between pt-2 font-bold text-green-600 text-base"
        >
          <span>Total (9 pontos):</span>
          <span>R$ 100</span>
        </div>
      </ng-container>
      <ng-template #carExample>
        <div class="flex justify-between border-b border-gray-200 pb-2 text-sm">
          <span>6 pontos (meta):</span>
          <span class="font-bold">R$ 40</span>
        </div>
        <div class="flex justify-between border-b border-gray-200 py-2 text-sm">
          <span>+ 4 pontos extras:</span>
          <span class="font-bold">R$ 60</span>
        </div>
        <div
          class="flex justify-between pt-2 font-bold text-green-600 text-base"
        >
          <span>Total (10 pontos):</span>
          <span>R$ 100</span>
        </div>
      </ng-template>
    </div>
    <app-navigation-buttons></app-navigation-buttons>
  </div>
</div>
